<div class="panel-box">
    <div class="panel-head">লগ ইন</div>
    <div class="panel-body">
        <ul>
            <li>@Html.ActionLink("নীতিমালা", "Index", "Home")</li>
            <li>@Html.ActionLink("নীতিমালা", "Index", "Home")</li>
            <li>@Html.ActionLink("নীতিমালা", "Index", "Home")</li>
            <li>@Html.ActionLink("নীতিমালা", "Index", "Home")</li>
        </ul>
    </div>
</div>
<div>
    <button class="btn btn-primary">ওয়েব মেইল</button>
</div>